.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:2rem 0;
}

.App-header h1 {
  margin:0;
}

.main-section {
  min-height: 80vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#f3f3f3;
}

.task-table {
    border-collapse: collapse;
    min-width: 400px;
    width: 100%;
}

.task-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.task-table th,
.task-table td {
    padding: 12px 15px;
    text-align:left;
}

.task-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.task-table tbody tr:nth-of-type(even) {
    background-color:aliceblue;
}

.task-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.task-table tbody tr:hover {
    font-weight: bold;
    color: #009879;
    cursor: pointer;
}
