.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding:2rem 0;
}

.App-header h1 {
    margin:0;
}

.main-section {
    padding-top: 5vh;
    min-height: 75vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#f3f3f3;
}

/* Add Task */
.task-row {
    min-width: 460px;
    max-width:900px;
    margin:1rem 0;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
}

.task-button {
    display: inline-block;
    margin-right:12px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #009879;
    color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.task-button:hover {
    background-color: #03614e;
}

.task-button:active {
    transform: translateY(1px);
}

.task-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

/* Task Form */
.task-form {
  max-width: 400px; /* Prevents the form from getting too wide for readability */
  margin: 2rem auto; /* Centers the form on the page */
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px; /* Smooth, rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.form-group {
  margin-bottom: 1.5rem; /* Consistent spacing between groups */
}

label {
  display: block; /* Puts labels above their fields */
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

input[type="date"],
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding doesn't increase total width */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

input[type="text"]:focus,
textarea:focus {
  border-color: #007bff; /* Highlight border on focus */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Add a glow effect on focus */
  outline: none; /* Removes default browser outline */
}

/* Task List table */

.task-table {
    border-collapse: collapse;
    min-width: 400px;
    max-width:900px;
    width: 100%;
}

.task-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.task-table th,
.task-table td {
    padding: 12px 15px;
    text-align:left;
}

.task-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.task-table tbody tr:nth-of-type(even) {
    background-color:aliceblue;
}

.task-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.task-table tbody tr:hover {
    color: #009879;
    cursor: pointer;
}
