/* General styles */
.App {
    text-align: center;
    border-bottom: 50px #282c34 solid;
}
.App-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #fff;
    padding: 2rem 0;
}
.App-header h1 {
    margin: 0;
}
.App-header p {
    margin: 5px 0 0;
}
.main-section {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f3f3f3;
}
a {
    color: #03614e;
}

/* Task styles */
.task-description {
    max-width: 900px;
    padding: 0 20px;
    margin: 3rem 0;
}
.task-row {
    max-width: 900px;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.task-button {
    display: inline-block;
    margin-right:12px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #009879;
    color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.action-button {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 6px 0 0;
    min-width:100px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color:#333;
    color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.action-anchor {
    margin:0 10px;
    text-decoration: underline;
}
.action-anchor:hover {
    color:#282c34;
    cursor:pointer;
}
.action-button.complete {
    background-color:#03614e;
}
.action-button.reopen {
    background-color:#007bff;
}
.task-button:hover {
    background-color: #03614e;
}
.task-button:active {
    transform: translateY(1px);
}
.task-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

/* Task Form */
.task-form {
    max-width: 550px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.form-group {
    width:90%;
    max-width:550px;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}
input[type="date"],
input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height:48px;
    font-size: 16px;
    text-align: center;
    padding: 0.75rem;
    color: #282c34;
    background:#fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.error-container {
    height:20px;
}
.error-message {
    color: rgb(195, 26, 26);
}

/* Task List table */
.task-list {
    width: 100%;
    max-width: 900px;
}
.task-table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
}
.task-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.task-table th,
.task-table td {
    padding: 12px 15px;
    text-align:left;
}
.task-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.task-table tbody tr:nth-of-type(even) {
    background-color:#ffffff;
}
.task-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.task-table tbody tr:hover {
    background-color: beige;
}
.completed {
    color: #009879;
    font-weight: 800;
}

@media screen and (max-width: 600px) {
    .App-header {
        min-height: 10vh;
        padding: 2rem 0;
    }
    .task-description {
        margin: 1rem 0;
    }
    tbody {
        border-top: 2px solid #009879;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        display: none;
    }
    .task-table td {
        padding-left: 30%;
        position: relative;
    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 25%;
        text-align: left;
        font-weight: bold;
    }
}
